In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv('cleaned_athlete_events.csv')
df

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,A Dijiang,M,24,180,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No
1,A Lamusi,M,23,170,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No
2,Gunnar Nielsen Aaby,M,24,175,70.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,No
3,Edgar Lindenau Aabye,M,34,175,70.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21,185,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269726,Andrzej ya,M,29,179,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,No
269727,Piotr ya,M,27,176,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",No
269728,Piotr ya,M,27,176,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",No
269729,Tomasz Ireneusz ya,M,30,185,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,No
269730,Tomasz Ireneusz ya,M,34,185,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,No

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
le1 = LabelEncoder()
le1.fit(df['Sex'])
df['Sex'] = le1.transform(df['Sex'])

In [40]:
le2 = LabelEncoder()
le2.fit(df['NOC'])
df['NOC'] = le2.transform(df['NOC'])

In [41]:
le3 = LabelEncoder()
le3.fit(df['Season'])
df['Season'] = le3.transform(df['Season'])

In [42]:
le4 = LabelEncoder()
le4.fit(df['Sport'])
df['Sport'] = le4.transform(df['Sport'])

In [43]:
df

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,A Dijiang,1,24,180,80.0,China,41,1992 Summer,1992,0,Barcelona,8,Basketball Men's Basketball,No
1,A Lamusi,1,23,170,60.0,China,41,2012 Summer,2012,0,London,32,Judo Men's Extra-Lightweight,No
2,Gunnar Nielsen Aaby,1,24,175,70.0,Denmark,55,1920 Summer,1920,0,Antwerpen,24,Football Men's Football,No
3,Edgar Lindenau Aabye,1,34,175,70.0,Denmark/Sweden,55,1900 Summer,1900,0,Paris,61,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,0,21,185,82.0,Netherlands,145,1988 Winter,1988,1,Calgary,53,Speed Skating Women's 500 metres,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269726,Andrzej ya,1,29,179,89.0,Poland-1,162,1976 Winter,1976,1,Innsbruck,34,Luge Mixed (Men)'s Doubles,No
269727,Piotr ya,1,27,176,59.0,Poland,162,2014 Winter,2014,1,Sochi,50,"Ski Jumping Men's Large Hill, Individual",No
269728,Piotr ya,1,27,176,59.0,Poland,162,2014 Winter,2014,1,Sochi,50,"Ski Jumping Men's Large Hill, Team",No
269729,Tomasz Ireneusz ya,1,30,185,96.0,Poland,162,1998 Winter,1998,1,Nagano,12,Bobsleigh Men's Four,No
269730,Tomasz Ireneusz ya,1,34,185,96.0,Poland,162,2002 Winter,2002,1,Salt Lake City,12,Bobsleigh Men's Four,No

In [44]:
x = df[['Sex','Age','Height','Weight','NOC','Season','Sport']]
y = df['Medal']

In [45]:
x

        Sex  Age  Height  Weight  NOC  Season  Sport
0         1   24     180    80.0   41       0      8
1         1   23     170    60.0   41       0     32
2         1   24     175    70.0   55       0     24
3         1   34     175    70.0   55       0     61
4         0   21     185    82.0  145       1     53
...     ...  ...     ...     ...  ...     ...    ...
269726    1   29     179    89.0  162       1     34
269727    1   27     176    59.0  162       1     50
269728    1   27     176    59.0  162       1     50
269729    1   30     185    96.0  162       1     12
269730    1   34     185    96.0  162       1     12

[269731 rows x 7 columns]

In [46]:
y

0           No
1           No
2           No
3         Gold
4           No
          ...
269726      No
269727      No
269728      No
269729      No
269730      No
Name: Medal, Length: 269731, dtype: object

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

In [49]:
x_train

        Sex  Age  Height  Weight  NOC  Season  Sport
161012    1   24     175    70.0   81       0     63
199403    1   35     175    70.0   13       0      4
216503    1   22     182    77.0   74       0      5
97514     1   26     175    70.0   69       0     22
243478    1   24     172    74.0  207       0     65
...     ...  ...     ...     ...  ...     ...    ...
119879    1   24     190    92.0  193       1     34
259178    1   20     184    79.0  193       1     11
131932    1   22     183    82.0   63       0     14
146867    1   24     175    70.0   19       0     63
121958    0   24     162    60.0   79       0      5

[215784 rows x 7 columns]

In [50]:
y_train

161012    No
199403    No
216503    No
97514     No
243478    No
          ..
119879    No
259178    No
131932    No
146867    No
121958    No
Name: Medal, Length: 215784, dtype: object

In [51]:
x_test

        Sex  Age  Height  Weight  NOC  Season  Sport
81100     1   24     175    70.0  210       0     27
123998    1   28     179    65.0  104       0      5
31114     1   33     168    72.0  130       0     21
248008    1   28     175    70.0   19       0     22
1541      1   25     171    65.0  193       0     19
...     ...  ...     ...     ...  ...     ...    ...
249326    0   23     156    51.0  169       0     27
99734     1   21     173    68.0  122       0     27
5926      1   21     182    68.0   63       0     24
123268    1   20     177    82.0   30       0     46
196345    1   34     175    70.0  199       0     58

[53947 rows x 7 columns]

In [52]:
y_test

81100       No
123998      No
31114       No
248008      No
1541        No
          ...
249326      No
99734       No
5926      Gold
123268      No
196345      No
Name: Medal, Length: 53947, dtype: object

In [53]:
from sklearn.linear_model import LogisticRegression

In [54]:
model = LogisticRegression()

In [55]:
model.fit(x_train,y_train)

C:\Users\Japneet\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [56]:
pred = model.predict(x_test)
pred

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [57]:
from sklearn.metrics import accuracy_score

In [58]:
acc = accuracy_score(pred,y_test)
acc

0.8547833985207703

# Decision Tree

In [59]:
from sklearn.tree import DecisionTreeClassifier

In [60]:
mod = DecisionTreeClassifier()

In [61]:
mod.fit(x_train,y_train)

DecisionTreeClassifier()

In [62]:
pre1 = mod.predict(x_test)
pre1

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [63]:
sc1 = accuracy_score(pre1,y_test)
sc1

0.8031030455817747

# Random forest

In [64]:
from sklearn.ensemble import RandomForestClassifier

In [65]:
mod2 = RandomForestClassifier()

In [66]:
mod2.fit(x_train,y_train)

RandomForestClassifier()

In [67]:
pre2 = mod2.predict(x_test)
pre2

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [68]:
sc2 = accuracy_score(pre2,y_test)
sc2

0.8452369918623834